<h1>Account Information</h1>
<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<%= image_tag @user.profile_picture.url(:thumb) %>
<table>
  <tr>
    <td><h2>Birthday:</h2></td>
    <td><h2><%= @user.birthday %></h2></td>
  </tr>
  <tr>
    <td><h2>Country:</h2></td>
    <td><h2><%= @user.country %></h2></td>
  </tr> 
  <tr>
    <td><h2>Email:</h2></td>
    <td><h2><%= @user.email %></h2></td>
  </tr>
</table>
<%= link_to "Edit", edit_user_path(current_user) %>
