<div class="well">
  <div class="row">
    <div class="span6 offset3">
    
      <%= simple_form_for [:admin, @admin_user], html: { :multipart => true } do |f| %>
        <div class"alert alert-error">
          <%= f.error_notification %>
          <%= @admin_user.errors.full_messages.join(', ') %>
        </div>

        <fieldset class="control-group-error">
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :email %>
          <%= f.input :birthday %>
          <%#= f.input :country %>
          <%= f.input :profile_picture %>
          <%= f.input :admin %>
        </fieldset>

        <div class="center">
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
