<h1>List of Users</h1>

<div class="center">
  <%= will_paginate @admin_users %>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Birthday</th>
    <th>Country</th>
    <th>Admin</th>
    <th colspan="3" style="text-align:center;">Actions</th>
  </tr>

<% @admin_users.each do |admin_user| %>
  <tr>
    <td><%= admin_user.first_name %></td>
    <td><%= admin_user.last_name %></td>
    <td><%= admin_user.email %></td>
    <td><%= admin_user.birthday %></td>
    <td><%= admin_user.country %></td>
    <% if admin_user.admin %>
      <td>Yes</td>
    <% else %>
      <td>No</td>
    <% end %>
    <td><%= link_to 'Show', [:admin, admin_user], class: "btn btn-primary" %></td>
    <td><%= link_to 'Edit', edit_admin_user_path(admin_user), class: "btn btn-primary" %></td>
    <td><%= link_to 'Destroy', [:admin, admin_user], confirm: 'Are you sure?', method: :delete, class: "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<div class="center">
  <%= will_paginate @admin_users %>
  <br />
  <%= link_to 'New User', new_admin_user_path, class: "btn btn-primary"  %>
</div>

<br />
