<h1>User Details</h1>

<div class="well">
  <div class="row">
    <div class="span6 offset3">

      <div class"center">
        <% if @admin_user.profile_picture.exists? %>
          <%= image_tag @admin_user.profile_picture.url(:thumb), class: "thumbnail" %>
        <% else %>
          <%= image_tag "default_user.png", size: "100x100", class: "thumbnail" %>
        <% end %>
      </div>

     <table class="table table-bordered">
        <tr>
          <td><b>First name:</b></td>
          <td><%= @admin_user.first_name %></td>
        </tr>

        <tr>
          <td><b>Last name:</b></td>
          <td><%= @admin_user.last_name %></td>
        </tr>

        <tr>
          <td><b>Email:</b></td>
          <td><%= @admin_user.email %></td>
        </tr>

        <tr>
          <td><b>Birthday:</b></td>
          <td><%= @admin_user.birthday %></td>
        </tr>

        <tr>
          <td><b>Country:</b></td>
          <td><%= @admin_user.country %></td>
        </tr>

        <tr>
          <td><b>Administrator:</b></td>
          <td>
            <% if @admin_user.admin %>
              Yes
            <% else %>
              No
            <% end %>
          </td>
        </tr>
      </table>

      <div class="center">
        <%= link_to 'Edit', edit_admin_user_path(@admin_user), class: "btn btn-primary" %> |
        <%= link_to 'Back', admin_users_path, class: "btn btn-primary" %>
      </div>

    </div>
  </div>
</div>
