<h1> <%= @product.album %> </h1>

<div class="center">
  <% if @product.picture.exists? %>
    <%= image_tag @product.picture.url(:small), class: "thumbnail" %>
  <% else %>
    <%= image_tag "default-product.jpg", size: "176x176" %>
  <% end %>
</div>

<%= link_to 'Add to cart', cart_items_path(id: @product.id), method: :post %>

<table>
  <tr>
    <td><h2>Artist</h2></td>
    <td><h2><%= @product.artist %></h2></td>
  </tr>
  <tr>
    <td><h2>Description</h2></td>
    <td><h2><%= @product.description %></h2></td>
  </tr>
  <% if @product.on_sale %>
    <tr>
      <td><h2>Price</h2></td>
      <td><h2>$<%= @product.sale_price %></h2></td>
    </tr>
    <tr>
      <td colspan="2"><h2 style="color:#FF0000;">This album in on sale!</h2></td> <td></td>
    </tr>
  <% else %>
    <tr>
      <td><h2>Price</h2></td>
      <td><h2>$<%= @product.price %></h2></td>
    </tr>
  <% end %>
</table>
